@import "tailwindcss";

@theme {
  --color-primary : rgba(204,102,0,1);
  --color-secondary: rgba(243,245,249,1);
  --color-tertiary: rgba(255,245,245,1);
  --color-accent: rgba(60,60,60,1);
}

:root{
  background-color: white;
  font-family: sans-serif;
}

/*scroll bar*/

::-webkit-scrollbar {
  width: 5px;
  height: 5px; 
}

::-webkit-scrollbar-track {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,230,230,.5);
  border-radius: 5px;
}

/* Styling the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,230,230,1)
}