@import "tailwindcss";

@theme {
  --color-primary : rgba(204,102,0,1);
  --color-secondary: rgba(243,245,249,1);
  --color-tertiary: rgba(255,245,245,1);
  --color-accent: rgba(60,60,60,1);
}

:root{
  background-color: white;
}

/*scroll bar*/